{
  "cloudflare": [
    {
      "authentication": {
        "api_token": "${CF_DDNS_API_TOKEN}"
      },
      "zone_id": "ENTER_ZONE_ID_HERE",
      "subdomains": [
        {
          "name": "@",
          "proxied": false
        }
      ]
    }
  ],
  "a": true,
  "aaaa": true,
  "purgeUnknownRecords": false,
  "ttl": 300
}
