services:
  traefik:
    image: traefik:v3.5.3@sha256:d6be8725d21b45bdd84b93ea01438256e0e3c94aa8fa51834fe87f37cd5d4af8
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
      - CROWDSEC_BOUNCER_KEY=${CROWDSEC_BOUNCER_KEY}
      - TRAEFIK_CERTIFICATESRESOLVERS_MYCLOUDDNS_ACME_EMAIL=${SSL_EMAIL}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:8081/ping"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    labels:
      - traefik.enable=true
      # CrowdSec bouncer middleware
      - traefik.http.middlewares.crowdsec-bouncer.plugin.bouncer.enabled=true
      - traefik.http.middlewares.crowdsec-bouncer.plugin.bouncer.CrowdsecLapiKey=${CROWDSEC_BOUNCER_KEY}
      - traefik.http.middlewares.crowdsec-bouncer.plugin.bouncer.CrowdsecLapiHost=crowdsec:8080
      # Traefik dashboard
      - traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN_NAME}`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.tls=true
      - traefik.http.routers.traefik.tls.certresolver=myclouddns
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.middlewares=geoblock@file,crowdsec-bouncer@docker,authelia-forwardauth@docker
      # Homepage
      - homepage.group=Other
      - homepage.name=Traefik
      - homepage.icon=traefik.png
      - homepage.href=http://traefik.${DOMAIN_NAME}/
      - homepage.description=Reverse proxy and load balancer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${CONFIGDIR}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ${CONFIGDIR}/traefik/dynamic-configuration.yml:/etc/traefik/dynamic-configuration.yml:ro
      - ${DATADIR}/traefik/letsencrypt:/letsencrypt
      - ${DATADIR}/traefik/logs:/logs
    networks:
      - traefik_external
      - internal

networks:
  traefik_external:
    name: traefik_external
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
  internal:
    name: internal
    driver: bridge
    internal: false
    ipam:
      config:
        - subnet: 172.20.1.0/24