http:
  middlewares:
    geoblock:
      plugin:
        geoblock:
          silentStartUp: false
          allowLocalRequests: true
          logLocalRequests: false
          logAllowedRequests: false
          logApiRequests: false
          api: "https://get.geojs.io/v1/ip/country/{ip}"
          apiTimeoutMs: 750
          cacheSize: 25
          forceMonthlyUpdate: true
          allowUnknownCountries: true
          unknownCountryApiResponse: "nil"
          blackListMode: true
          addCountryHeader: true
          logFilePath: "/logs/geoblock.log"
          XForwardedForReverseProxy: true
          countries:
            - CN  # China
            - RU  # Russia
            - KP  # North Korea
            - IR  # Iran
            - SY  # Syria
            - LB  # Lebanon
            - YE  # Yemen
            - PS  # Palestine
            - VN  # Vietnam
            - IN  # India
            - BR  # Brazil
            - ID  # Indonesia
            - TH  # Thailand
            - PK  # Pakistan
            - BD  # Bangladesh
            - UA  # Ukraine
            - RO  # Romania
            - BY  # Belarus
            - TR  # Turkey
    
    sablier-crowdsec-dashboard:
      plugin:
        sablier:
          group: crowdsec-dashboard
          sablierUrl: http://sablier:10000
          sessionDuration: 1m
          dynamic:
            displayName: CrowdSec Dashboard
            refreshFrequency: 5s
            showDetails: "true"
            theme: ghost

  services:
    crowdsec-dashboard:
      loadBalancer:
        servers:
          - url: "http://crowdsec-dashboard:3000"

  routers:
    crowdsec-dashboard:
      rule: Host(`crowdsec.{{env "DOMAIN_NAME"}}`)
      entryPoints:
        - websecure
      tls:
        certResolver: myclouddns
      middlewares:
        - geoblock@file
        - crowdsec-bouncer@docker
        - authelia-forwardauth@docker
        - sablier-crowdsec-dashboard@file
      service: crowdsec-dashboard