http:
  middlewares:
    geoblock:
      plugin:
        geoblock:
          silentStartUp: false
          allowLocalRequests: true
          logLocalRequests: false
          logAllowedRequests: false
          logApiRequests: false
          api: "https://get.geojs.io/v1/ip/country/{ip}"
          apiTimeoutMs: 750
          cacheSize: 25
          forceMonthlyUpdate: true
          allowUnknownCountries: true
          unknownCountryApiResponse: "nil"
          addCountryHeader: true
          logFilePath: "/logs/geoblock.log"
          XForwardedForReverseProxy: true
          blackListMode: true
          countries:
            - CN  # China
            - RU  # Russia
            - KP  # North Korea
            - IR  # Iran
            - SY  # Syria
            - LB  # Lebanon
            - YE  # Yemen
            - PS  # Palestine
            - VN  # Vietnam
            - IN  # India
            - BR  # Brazil
            - ID  # Indonesia
            - TH  # Thailand
            - PK  # Pakistan
            - BD  # Bangladesh
            - UA  # Ukraine
            - RO  # Romania
            - BY  # Belarus
            - TR  # Turkey
