users:
  <EMAIL>:
    displayname: <User_Display_Name>
    # Set encrypted password with the following command
    # docker run --rm -it authelia/authelia authelia crypto hash generate argon2
    password: ""
    groups: [admins]
